/* FFS = Flex For Satan */

*{border:0;margin:0;outline:0;padding:0;vertical-align:baseline;text-decoration:none;font-size:100%;-webkit-text-size-adjust:100%;font-variant-ligatures:none;-webkit-font-variant-ligatures:none;text-rendering:geometricPrecision;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;text-shadow:rgba(0,0,0,.01) 0 0 1px;transition:background 250ms ease,color 250ms ease,border-color 250ms ease,opacity 250ms ease;-webkit-tap-highlight-color:transparent}
table {border-collapse: separate;border-spacing: 0;}
caption,th,td {font-weight: normal;text-align: left;}
ol,ul {list-style: none;}
blockquote:before,blockquote:after,q:before,q:after {content: "";}
blockquote,q {quotes: "" "";}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
strong {font-weight: bold;}
em {font-style: italic;}

body {font-family: sans-serif;font-size: 12px;line-height: 21px;color: #171717;counter-reset: my-sec-counter;}

h1 {font-size: 48px; line-height: 48px;}
h2 {font-size: 30px; line-height: 30px;}
h3 {font-size: 22px; line-height: 22px;}
h4 {font-size: 20px; line-height: 20px;}
h5 {font-size: 18px; line-height: 18px;}
h6 {font-size: 16px; line-height: 16px;}

h1,h2,h3,h4,h5,h6 {font-weight: 200;}

@media only screen and (min-width: 768px) {.df {display: flex;justify-content: space-between;}}

/* Flex */
.cw {flex-flow: column wrap !important;}
.rw {flex-flow: row wrap !important;}

.sf {justify-content: flex-start !important;}
.cf {justify-content: center !important;}
.ef {justify-content: flex-end !important;}

.ssf {align-self: flex-start !important;}
.csf {align-self: center !important;}
.esf {align-self: flex-end !important;}

.ff {flex: 0 100%;}
.tf {flex: 0 calc(100%/3);}
.hf {flex: 0 50%;}
.qf {flex: 0 25%;}
.fthf {flex: 0 25%;}

/* Margin */
.m-t-o {top: 0 !important;}
.m-t-f {margin-top: 5px !important;}
.m-t-t {margin-top: 10px !important;}
.m-t-tt {margin-top: 20px !important;}

.m-l-o {margin-left: 0 !important;}
.m-l-t {margin-left: 10px !important;}

.m-b-o {margin-bottom: 0 !important;}
.m-b-f {margin-bottom: 5px !important;}
.m-b-t {margin-bottom: 10px !important;}
.m-b-ft {margin-bottom: 15px !important;}
.m-b-tt {margin-bottom: 20px !important;}

.m-r-f {margin-right: 5px !important;}
.m-r-t {margin-right: 10px !important}
.m-r-tt {margin-right: 20px !important;}

.m-v-t {margin: 10px 0 !important;}

.m-h-f {margin: 0 5px !important;}

.m-a-a {margin: auto !important;}

/* Padding */
.p-v-f {padding-top: 5px !important;padding-bottom: 5px !important;}
.p-v-t {padding-top: 10px !important;padding-bottom: 10px !important;}
.p-h-f {padding-left: 5px !important;padding-right: 5px !important;}
.p-h-t {padding-left: 10px !important;padding-right: 10px !important;}
.p-h-ft {padding-left: 15px !important;padding-right: 15px !important;}
.p-a-f {padding: 5px !important;}
.p-a-t {padding: 10px !important;}
.p-a-tt {padding: 20px !important;}

.p-t-o {padding-top: 0 !important;}
.p-t-f {padding-top: 5px !important;}
.p-t-tt {padding-top: 20px !important;}
.p-b-o {padding-bottom: 0 !important;}
.p-b-f {padding-bottom: 5px !important;}

.p-l-t {padding-left: 10px !important;}
.p-l-tt {padding-left: 20px !important;}
.p-r-t {padding-right: 10px !important;}
.p-r-tt {padding-right: 20px !important;}

/* Positioning & Sizing */
.fw {width: 100% !important;}
.fh {height: 100% !important;}
.cd {cursor: default !important;}
.cp {cursor: pointer !important;}
.blk {display: block !important;}
.ib  {display: inline-block !important;}
.none {display: none !important;}
.bb  {box-sizing: border-box !important;}
.oh {overflow: hidden;}
.pa  {position: absolute !important;}
.pr  {position: relative !important;}
.tac {text-align: center !important;}
.tar {text-align: right !important;}
.posr {position: relative !important;}
.posa {position: absolute !important;}
.p-t {top: 0;}
.p-b {bottom: 0;}
.p-l {left: 0;}
.p-r {right: 0;}
.zi-ot {z-index: 1000;}
.sm-txt {font-size: 10px;}
.smlr-txt {font-size: 8px;}

.notr,.notrc * {transition: none;-webkit-transition: none;-moz-transition: none;}

.b {font-weight: bold !important;}
.i {font-style: italic !important;}

.no-br {border-radius: 0 !important;}
.br {border-radius: 2px !important;}

/* Text Colors */
.bt {color: #222 !important;}
.et {color: #28A251 !important;}
.wt {color: #FFF !important;}
.grt {color: #586479 !important;}
.pt {color: #80F !important;}
.ft {color: #df4b00 !important;}
.st {color: #3399ff !important;}
.rt {color: #BD0313 !important;}
.glt {color: #ffd700 !important}

.no-bg {background: none !important;}
.w-t-bg {background: rgba(180,180,255,.03) !important;}
.b-t-bg {background: rgba(20,20,20,.9) !important;}
.b-bg {background: #1a1f25 !important;}
.bb-bg {background: #0e0e0e !important;}
.w-bg {background: #FFF !important;}
.ruby {background: -webkit-linear-gradient(45deg, #96006D 0%, #BD0313 100%) !important;}
.emerald {background: -webkit-linear-gradient(45deg, #0C7C61 0%, #28A251 100%) !important;}
.fire {background: -webkit-linear-gradient(45deg, #d92900 0%, #df4b00 100%) !important;}
.violet {background: -webkit-linear-gradient(45deg, #4B0082 0%, #4F00C2 100%) !important;}
.sapphire {background: -webkit-linear-gradient(45deg, #0f52ba 0%, #0f528a 100%) !important;}

.b-d-g {border: 3px dashed #DDDEEF;}

.btn {height: 38px;line-height: 39px;color: #FFF;padding: 0 14px;border-radius: 2px;cursor: pointer;}
.btn.small {height: 21px;line-height:22px;padding: 0 6px;font-size: 11px;}
.btn.wide {width: 100%;}

.badge {height: 16px;line-height: 17px;}

.dd:hover .dd-box {display: block !important;}
.dd-box {min-width: 150px;}
.dd-box ul li a:hover {background: rgba(180,180,255,.3) !important;}

.toggle > *,
.decide > * {pointer-events: none;}
